---
layout: archive
title: "Talks"
permalink: /talks/
author_profile: true
---

{% include base_path %}

<h2 id="invited">Invited talks</h2>
<ul class="cv-list">
{% for t in site.data.talks.invited %}<li><span class="when">{{ t.date }}</span> <span>{{ t.event }}{% if t.url %} (<a href="{{ t.url }}">recording</a>){% endif %}</span></li>
{% endfor %}</ul>

<h2 id="contributed">Contributed talks and posters</h2>
<ul class="cv-list">
{% for t in site.data.talks.contributed %}<li><span class="when">{{ t.date }}</span> <span>{{ t.event }}</span></li>
{% endfor %}</ul>

<p>Teaching, mentoring, outreach and service are on <a href="{{ base_path }}/teaching/">Teaching &amp; Mentoring</a>.</p>
